footer.main-footer {
    margin-bottom: 4ch;
    border-top: thin inset $faded-color;

    #quip {
	color: grey;
	font-style: italic;
	font-size: smaller;
    }

    #also-on {
	& {
	    margin: 0;
	    padding: 0;
	}

	h1 {
	    display: inline;
	    margin: 0;
	    font-size: $font-size;
	}

	li {
	    display: inline;
	}
    }
}
