@import "tag_list";
@import "tangents";

.post {
    &__metadata {
	& {
	    margin: 0 auto;
	    border-bottom: 4px dotted darkolivegreen;
	    padding-bottom: 1ch;
	}

        &__pubdate {
        }

        &__title {
            color: darkolivegreen;
        }
    }

    &__content {
	& {
	    line-height: 1.5;
	}

	code {
	    font-size: smaller;
	}

        p {
            text-align: justify;
	    
        }

	blockquote {
	    color: darkolivegreen;
	    background-color: beige;

	    border: thin outset olivedrab;
	    border-left-width: thick;
	    border-radius: 4px;

	    padding: 1ch;

	    .h-cite {
		text-align: right;
		&::before { content: "—"; }
	    }
	}

	& > pre {
	    line-height: 1.0;
	    border: 1px ridge grey;
	    border-radius: 4px;
	    padding: 12px;
	}
    }

    figure {
	margin: 1ch auto;
	border-radius: 4px;

	figcaption {
	    margin: auto;
	    text-align: center;
	    max-width: 80%;
	    opacity: 50%;
	}
    }

    table {
	border: thin solid olivedrab;
	border-collapse: collapse;
	border-spacing: 2px;
	padding: 0;
	margin: 1ch auto;

	thead {
	    background-color: olivedrab;
	    color: white;
	    margin: 0;
	    padding: 0;
	}

	tr {
	    &:nth-child(even) {
		background-color: rgba(olivedrab, 35%);
	    }
	}
    }
}
