@import "tag_list";
@import "tangents";

.post {
    &__metadata {
	& {
	    margin: 0 auto;
	    border-bottom: thin dotted $faded-color;
	    padding-bottom: 1ch;
	}

        &__pubdate {
        }

        &__title {
            color: $accent1-color;
	    font-size: 24pt;
	    font-weight: 300;
	    font-style: oblique;
	    margin: 0;
        }
    }

    &__content {
	& {
	    line-height: 1.5;
	}

	code {
	    font-size: smaller;
	}

        p {
            text-align: justify;
	    
        }

	blockquote {
	    padding: 1ch;
	    border: thin outset $accent1-color;
	    border-left-width: thick;
	    border-radius: 4px;
	    color: $accent1-color;
	    background-color: beige;

	    .h-cite {
		text-align: right;
		&::before { content: "—"; }
	    }
	}

	& > pre {
	    padding: 12px;
	    border: 1px ridge $faded-color;
	    border-radius: 4px;
	    line-height: 1.0;
	}

	hr {
	    border: none;
	    border-top: thin dashed $accent1-color;
	}
    }

    figure {
	margin: 1ch auto;
	border-radius: 4px;

	figcaption {
	    margin: auto;
	    text-align: center;
	    max-width: 80%;
	    opacity: 50%;
	}
    }

    table {
	border: thin solid $accent1-color;
	border-collapse: collapse;
	border-spacing: 2px;
	padding: 0;
	margin: 1ch auto;

	thead {
	    background-color: $accent1-color;
	    color: white;
	    margin: 0;
	    padding: 0;
	}

	tr {
	    &:nth-child(even) {
		background-color: rgba($accent1-color, 35%);
	    }
	}
    }
}
