---
---

@import "typefaces";

body {
    background-color: white;
    color: #3a3a4b;
    font-family: "FiraGO", sans-serif;
    font-variant-numeric: slashed-zero tabular-nums ordinal;
    font-size: 12pt;
    margin: auto;
    width: 50ch;
    text-align: center;
}

h1 {
    border-bottom: 2pt solid #3a3a4b;
}
