/* Surprisingly, the foundry that made Fira Sans also made a
   derivative of the legendary type-face: FiraGO.
   Turns out that Fira Sans was no longer going to be updated.
  
   https://raw.githubusercontent.com/bBoxType/FiraGO/master/FiraGO_FiraSans_Comparison.pdf
 */

@font-face
{
    font-family: "FiraGO";
    src: url("/assets/styles/types/fira_go/rm/FiraGO-Regular.woff");
}
